
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

body {
  width: 40%;
  height: 40em;
  margin: 7em auto;
}

body div {
  width: 100%;
  border: 1px solid black;
  height: 50%;
  padding: 7%;
}

body div p {
  line-height: 2em;
  font-size: 1.2em;
  margin-top: 2em;
}

body div input {
  float: right;
  border-radius: none;
  margin-right: 2em;
  width: 5em;
}